<!DOCTYPE html>
<html>
  <head>
	  <title>MERN Stack</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Demo Project</h1>
    <p>The project is developed in MERN Stack </p>
    <h4>Click here for employees data  <a href="/employees">Employee</a></h4>
  </body>
</html>
